#main-navbar {
  background-color: #faebd7;
  overflow: hidden;
}

ul {
  border: .2rem solid black;
}

#main-navbar ul {
  list-style-type: none;
  margin: 15px;
  display: inline-block;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a{
  font-family:'Tangerine', serif;
  text-decoration: none;
  padding: 30px 30px;
  color:black;
  font-size: 3em;
}

#navbar-container{
  width: 100%;
  position: relative;
  text-align: center;
}

#main-navbar ul li a:hover {
  color: white;
}

#main-navbar #onpage {
  text-decoration: underline overline;
}

#bike {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}

#education {
  border: .3rem solid rgb(228, 95, 95);
  float: inline-end;
}

#video {
  text-align: center;
  margin: auto;
  height: 50em;
  width: 100%;
}

#lobby {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: unset;
}

#jones {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 43.5rem;
}

body {
  background-color: #faebd7;
}

.fixed_li {
  color:rgb(70, 4, 83);
  font-size: 25px;
  margin: auto;
}

#name {
  text-align: center;
  font-size: 60px;
  padding: 0;
  margin: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: inline-start;
}

#email {
  text-align: center;
  font-family: monospace;
  font-size: x-large;
  float: initial;
}

h2 {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  float: inline-start;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 250%;
}

#title {
  font-size: 5rem;
  font-family: 'tangerine', serif;
  margin: 2%;
}

ol {
  border: .2rem solid rgb(122, 118, 118);
}

#strong {
  color: red;
  margin: auto;
  display: block;
}

.bike_lists {
  color: purple;
  font-size: 1.75rem;
  float: none;
}

#jcp_title {
  font-family: 'tangerine', serif;
  font-size: 5rem;
  color: rgb(50, 51, 0);
  margin: 5%;
  float: inline-end;
}

.jcp {
  margin-top: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  text-decoration: underline;
}

#unique_li {
  border: .2rem solid black;
}

.boxes {
  text-align: center;
  list-style: none;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}